# Dependências do Node (Pesado, não enviar)
node_modules/

# Arquivos de Sessão do WhatsApp (Privado, não enviar)
.wwebjs_auth/
.wwebjs_cache/

# Dados Locais (Para não expor dados de clientes no GitHub)
database.json
settings.json

# Logs
npm-debug.log
